/.git
/.github
/.idea
/.vscode
/.env
/node_modules
/vendor
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/bootstrap/cache/*.php
/tests
/phpunit.xml
*.log
*.md
